<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      Playdate Pups
    </h2>
  </div>
  <!-- For each dish in the array of dish objects, the following <div> will be rendered. -->
  {{#each dogs as |dog|}}
    <div class="dish col-md-5">
      <!-- We use dish.id instead of <od> and <li> elements. -->
      <p>
        {{dog.id}}.
        {{dog.dog_name}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
        {{dog.about}}
      </p>
      <p>
        {{dog.owner_id}}
      </p>
    </div>
  {{/each}}
</div>

<!-- This is the form for adding a new dish -->
{{!-- <script src='/js/.js'></script> --}}
