<div class="container">
  <div class="row align-items-center pt-5">
    <div class="col-lg-6">
      <div class="card" style="width: 18rem;">
        <a href="https://www.mppd.org/parks-facilities/canine-commons-dog-park/"><img src='/images/caninecommons.png' alt="location-image" class="card-img-top"></a>
        <div class="card-body">
          <h5 class="card">Canine Commons</h5>
          <p class="card-text">
            - Fenced 1.82 Acres In Melas Park 
            <br>
            - Members Only (Key Fob Entry)
            <br>
            - Separate Areas for Large & Small Dogs
            <br>
            - Picnic tables Waste Receptacles with bag dispensers
            



          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card" style="width: 18rem;">
        <img src='/images/DogHomeImageOne.jpg' alt="store-image" class="card-img-top">
        <div class="card-body">
          <h5 class="card">PetWants Charlotte</h5>
          <p class="card-text">
            Contact: (704) 690-9320
            Hours: Mon-Sat 8am-8pm, Sun 9am-7pm
            Address: 1700 Camden Rd, Suite 102
            Charlotte, NC 28203
          </p>
        </div>
      </div>
    </div>
  </div>
</div>