  <div class="container ">
    <div class="row mx-auto d-flex align-items-center">
        <div class="col-md-6 col-md-offset-3 mx-auto">
            <br>
            <h2 class="text-center pt-4">Welcome back!</h2>
            <form class="login">
                <div class="form-control-lg">
                    <label>Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-control-lg">
                    <label>Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <br>
                <button type="submit" id="submit" class="btn btn-success">Login</button>
              </form>
            <br />
            <p>First time here? Click <a href="signup">here</a> to sign up!</p>
        </div>
    </div>
</div>

 <script src="/js/login.js"></script> 