<div class="container ">
  <div class="row mx-auto d-flex align-items-center">
    <div class="col-md-6 col-md-offset-3 mx-auto">
      <br>
      <h2 class="text-center">Sign up here!</h2>
      <form class="">
        <div class="form-control-lg">
          <label>Username</label>
          <input type="username" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-control-lg">
          <label>Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-control-lg">
          <label>Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-control-lg">
          <label>Dog Name</label>
          <input type="dogName" class="form-control" id="dogName" placeholder="DogName">
        </div>
        <div class="form-control-lg">
          <label>Tell us a bit about your dog!</label>
          <input type="dogInfo" class="form-control" id="dogInfo" placeholder="Dog Name">
        </div>
        <div class="form-control-lg">
          <label>Please select where your pup likes to play?</label>
          <select type="location" id="dogLocations">
            <option value="location">location</option>
            <option value="location">location</option>
            <option value="location">location</option>
            <option value="location">location</option>
          </select>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
      <br />
      <p>Already have an account? Click <a href="/login">here</a> to login!</p>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>

