<h1 class="text-center pt-5 text-success"> Dog Stores in Charlotte</h1>
  <div class="row"> <a href="https://threespoileddogs.com" class="text-decoration-none">
      <div class="row align-items-center ps-5">
        <div class="col-lg-4">
          <div class="card mt-3" style="width: 18rem;">
            <img src='/images/four-dogs.jpg' style="height: 12rem" alt="store-image" class="card-img-top">
            <div class="card-body1 text-warning bg-success">
              <h4 class="text-center text-warning">Four Dogs Pet Supplies</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-light bg-success text-decoration-none">A local store with high-quality
                  dog foods fit for any budget! </li>
                <li class="list-group-item text-light bg-success text-decoration-none">Address: 2630 N. Davidson St.
                </li>
    </a>
    </ul>
  </div>
  </div>
  </div>
  <div class="col-lg-4"> <a href="https://threespoileddogs.com" class="text-decoration-none">
      <div class="row align-items-center ps-5"></div>
      <div class="card mt-3" style="width: 18rem;">
        <img src='/images/pet-wants.jpg' style="height: 12rem" alt="store-image" class="card-img-top">
        <div class="card-body1 text-warning bg-success">
          <h4 class="text-center text-warning">PetWants Charlotte</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-light bg-success text-decoration-none">A charming retail shop with slow cook
              pet food sold in small batches.</li>
            <li class="list-group-item text-light bg-success text-decoration-none">Address: 1700 Camden Rd, Suite 102
            </li>
    </a>
    </ul>
  </div>
  </div>
  </div>
  <div class="col-lg-4"> <a href="https://threespoileddogs.com" class="text-decoration-none">
      <div class="card mt-3" style="width: 18rem;">
        <img src='/images/canine-cafe.jpg' style="height: 12rem" alt="store-image" class="card-img-top">
        <div class="card-body1 text-warning bg-success">
          <h4 class="text-center text-warning">Canine Cafe</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-light bg-success text-decoration-none">Historically a pet treat bakery, the
              Canine Cafe now offers pet supplies!</li>
            <li class="list-group-item text-light bg-success text-decoration-none">Address: 125 Remount Road, Unit A
            </li>
    </a>
    </ul>
  </div>
  </div>
  </div>
  <div class="col-lg-4"> <a href="https://threespoileddogs.com" class="text-decoration-none">
      <div class="card mt-5" style="width: 18rem;">
        <img src='/images/PetInTheCity.jpg' style="height: 12rem" alt="store-image" class="card-img-top">
        <div class="card-body1 text-warning bg-success">
          <h4 class="text-center text-warning">Pet in the City</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-light bg-success text-decoration-none">A pet supply store catered to your
              pets
              every need!</li>
            <li class="list-group-item text-light bg-success text-decoration-none">Address: 9600 Monroe Rd</li>
    </a>
    </ul>
  </div>
  </div>
  </div>
  <div class="col-lg-4"> <a href="https://threespoileddogs.com" class="text-decoration-none">
      <div class="card mt-5" style="width: 18rem;">
        <img src='/images/3-spoiled-dogs.jpg' style="height: 12rem" alt="store-image" class="card-img-top">
        <div class="card-body1 text-warning bg-success">
          <h4 class="text-center text-warning text-decoration-none ">Three Spoiled Dogs</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-light bg-success text-decoration-none ">A pet boutique that sells
              personalized
              accessories!</li>
            <li class="list-group-item text-light bg-success  text-decoration-none ">Address: 2052 Hopedale Ave</li>
    </a>
    </ul>
  </div>
  </div>
  </div>
  <div class="col-lg-4"> <a href="https://www.petpeople.com/" class="text-decoration-none">
      <div class="card mt-5" style="width: 18rem;">
        <img src='/images/PetPeople.jpg' style="height: 12rem" alt="store-image" class="card-img-top">
        <div class="card-body1 text-warning bg-success">
          <h4 class="text-center text-decoration-none text-warning">PetPeople</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-light bg-success text-decoration-none">A popular store that sells everything
              your pet may need!</li>
            <li class="list-group-item text-light bg-success text-decoration-none">Address: 2400 Park Rd</li>
    </a>
    </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
