body {
  background-color: white;
  width: 100%;
  height: 100%;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-link:hover:after {
  width:100%
}

.dog-card-header {
  font-size: 1.5rem;
  color: #ffcc53;
  margin: 0;
  background-color: #4B9960;
  padding: 0.625rem;
  border-bottom-style: solid;
  width: 100%;
}

.dog-card {
  margin: 20px;
  flex: 0 1 300px;
  padding: 5px;
  width: 35%;
  min-height: 100%;
  min-width: 35%;
  /* border: 3px solid var(--primary); */
  border: 3px solid #4B9960;
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: medium;
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
 text-align: center; 
   border: 3px solid #4B9960;
   margin: 20px;
   flex: 0 1 300px;
   padding: 5px;
   max-width: 75%;
   min-height: 100%;
   min-width: 35%;
} */

.card-body a {
  background-color:  #4B9960;
}


.dog-gallery {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.dog-button{
  border: 3px solid #4B9960;
  background-color:  #4B9960;
  color: #ffcc53;
}
.single-dog-page {
  display: flex;
  justify-content: center;
}

footer {
  margin-top: auto;  
  background-color: #198754;
  color: #ffcc53;
    height: 50px;
    
  }

  .footer{
    padding-left: 3em;
    padding-top: 1em;
    justify-content: flex-end;
  }
